In [54]:
# from prettytable import PrettyTable
# from prettytable import DEFAULT
# PrettyTable.set_style(DEFAULT)

In [55]:
# insert records into the database 
import pandas as pd
import sqlite3 as sql
import os
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [56]:
cnn=sql.connect('airlines.db')

In [57]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [58]:
%sql sqlite:///airlines.db

In [59]:
%%sql 
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///airlines.db
Done.

[('sqlite_sequence',),
 ('Aircrafts',),
 ('Route',),
 ('AirFare',),
 ('Flight_Schedule',),
 ('Discounts',),
 ('Charges',),
 ('Countries',),
 ('State',),
 ('Contact_Details',),
 ('Passengers',),
 ('Branches',),
 ('Employee',),
 ('Transactions',)]

In [60]:
path=os.path.abspath(os.path.join(os.getcwd(),".."))
path=os.path.join(path,'data')
path

'd:\\pythonProjects\\airlines_management\\data'

In [61]:
# load the csvs to the tables
filepaths = {
    "Aircrafts": os.path.join(path, "Aircrafts.csv"),
    "AirFare": os.path.join(path, "AirFare.csv"),
    "Branches": os.path.join(path, "Branches.csv"),
    "Charges": os.path.join(path, "Charges.csv"),
    "Contact_Details": os.path.join(path, "Contact_Details.csv"),
    "Countries": os.path.join(path, "Countries.csv"),
    "Discounts": os.path.join(path, "Discounts.csv"),
    "Employee": os.path.join(path, "Employee.csv"),
    "Flight_Schedule": os.path.join(path, "Flight_Schedule.csv"),
    "Passengers": os.path.join(path, "Passengers.csv"),
    "Route": os.path.join(path, "Route.csv"),
    "State": os.path.join(path, "State.csv"),
    "Transactions": os.path.join(path, "Transactions.csv"),
}

In [62]:
for table_name, filepath in filepaths.items():
    if os.path.exists(filepath):  # Check if the file exists
        # Read CSV into DataFrame
        df = pd.read_csv(filepath)
        
        # Load DataFrame into SQLite
        df.to_sql(table_name, cnn, if_exists="replace", index=False)
        print(f"Loaded {table_name} into SQLite database.")
    else:
        print(f"File {filepath} does not exist. Skipping {table_name}.")

# Close the database connection
#cnn.close()

print("All tables have been loaded into the SQLite database.")

Loaded Aircrafts into SQLite database.
Loaded AirFare into SQLite database.
Loaded Branches into SQLite database.
Loaded Charges into SQLite database.
Loaded Contact_Details into SQLite database.
Loaded Countries into SQLite database.
Loaded Discounts into SQLite database.
Loaded Employee into SQLite database.
Loaded Flight_Schedule into SQLite database.
Loaded Passengers into SQLite database.
Loaded Route into SQLite database.
Loaded State into SQLite database.
Loaded Transactions into SQLite database.
All tables have been loaded into the SQLite database.

In [63]:
%%sql
select * from Aircrafts;

 * sqlite:///airlines.db
Done.

[('AC001', 150, 'Boeing', '2009-03-01'),
 ('AC002', 200, 'Boeing', '2005-05-16'),
 ('AC003', 150, 'Boeing', '2001-03-03'),
 ('AC004', 150, 'Embraer', '2001-02-25'),
 ('AC005', 300, 'Embraer', '2011-05-07'),
 ('AC006', 300, 'Embraer', '2003-09-01'),
 ('AC007', 150, 'Boeing', '2001-12-23'),
 ('AC008', 300, 'Airbus', '2006-02-11'),
 ('AC009', 250, 'Embraer', '2017-10-11'),
 ('AC010', 150, 'Airbus', '2010-03-23'),
 ('AC011', 150, 'Embraer', '2007-01-08'),
 ('AC012', 200, 'Embraer', '2014-09-04'),
 ('AC013', 200, 'Embraer', '2000-12-25'),
 ('AC014', 200, 'Embraer', '2000-04-02'),
 ('AC015', 300, 'Airbus', '2002-10-31'),
 ('AC016', 200, 'Airbus', '2005-06-14'),
 ('AC017', 250, 'Embraer', '2019-05-22'),
 ('AC018', 150, 'Airbus', '2007-09-27'),
 ('AC019', 250, 'Embraer', '2018-07-04'),
 ('AC020', 200, 'Boeing', '2005-10-13'),
 ('AC021', 200, 'Airbus', '2019-09-13'),
 ('AC022', 250, 'Airbus', '2003-01-23'),
 ('AC023', 150, 'Boeing', '2002-05-02'),
 ('AC024', 200, 'Airbus', '2015-08-17'),
 ('AC025', 150, 'Airbus', '2016-07-13'),
 ('AC026', 250, 'Embraer', '2016-12-09'),
 ('AC027', 150, 'Embraer', '2014-06-02'),
 ('AC028', 200, 'Airbus', '2003-10-08'),
 ('AC029', 150, 'Embraer', '2006-10-21'),
 ('AC030', 300, 'Airbus', '2019-09-07'),
 ('AC031', 150, 'Airbus', '2001-10-10'),
 ('AC032', 300, 'Airbus', '2006-09-27'),
 ('AC033', 250, 'Airbus', '2003-05-24'),
 ('AC034', 300, 'Boeing', '2007-12-06'),
 ('AC035', 250, 'Boeing', '2009-02-11'),
 ('AC036', 200, 'Airbus', '2015-04-20'),
 ('AC037', 150, 'Embraer', '2010-05-12'),
 ('AC038', 300, 'Boeing', '2001-02-16'),
 ('AC039', 300, 'Boeing', '2010-04-22'),
 ('AC040', 300, 'Airbus', '2008-11-05'),
 ('AC041', 300, 'Airbus', '2002-01-10'),
 ('AC042', 250, 'Airbus', '2012-03-26'),
 ('AC043', 150, 'Boeing', '2011-08-23'),
 ('AC044', 250, 'Boeing', '2013-05-30'),
 ('AC045', 150, 'Embraer', '2016-06-20'),
 ('AC046', 200, 'Airbus', '2017-07-04'),
 ('AC047', 150, 'Airbus', '2008-04-15'),
 ('AC048', 200, 'Airbus', '2010-07-31'),
 ('AC049', 150, 'Boeing', '2018-10-05'),
 ('AC050', 250, 'Boeing', '2018-10-30')]

In [64]:
%%sql
delete from Aircrafts where AcNumber='AC0051';

 * sqlite:///airlines.db
0 rows affected.

[]