In [2]:
# from prettytable import PrettyTable
# from prettytable import DEFAULT
# PrettyTable.set_style(DEFAULT)

In [3]:
# insert records into the database 
import pandas as pd
import sqlite3 as sql
import os
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
cnn=sql.connect('airlines.db')

In [5]:
%load_ext sql

In [6]:
%sql sqlite:///airlines.db

In [7]:
%%sql 
SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///airlines.db
Done.

[('sqlite_sequence',),
 ('Aircrafts',),
 ('AirFare',),
 ('Branches',),
 ('Charges',),
 ('Contact_Details',),
 ('Countries',),
 ('Discounts',),
 ('Employee',),
 ('Flight_Schedule',),
 ('Passengers',),
 ('Route',),
 ('State',),
 ('Transactions',)]

In [8]:
path=os.path.abspath(os.path.join(os.getcwd(),".."))
path=os.path.join(path,'data')
path

'd:\\pythonProjects\\airlines_management\\data'

In [9]:
# load the csvs to the tables
filepaths = {
    "Aircrafts": os.path.join(path, "Aircrafts.csv"),
    "AirFare": os.path.join(path, "AirFare.csv"),
    "Branches": os.path.join(path, "Branches.csv"),
    "Charges": os.path.join(path, "Charges.csv"),
    "Contact_Details": os.path.join(path, "Contact_Details.csv"),
    "Countries": os.path.join(path, "Countries.csv"),
    "Discounts": os.path.join(path, "Discounts.csv"),
    "Employee": os.path.join(path, "Employee.csv"),
    "Flight_Schedule": os.path.join(path, "Flight_Schedule.csv"),
    "Passengers": os.path.join(path, "Passengers.csv"),
    "Route": os.path.join(path, "Route.csv"),
    "State": os.path.join(path, "State.csv"),
    "Transactions": os.path.join(path, "Transactions.csv"),
}

In [10]:
for table_name, filepath in filepaths.items():
    if os.path.exists(filepath):  # Check if the file exists
        # Read CSV into DataFrame
        df = pd.read_csv(filepath)
        
        # Load DataFrame into SQLite
        df.to_sql(table_name, cnn, if_exists="replace", index=False)
        print(f"Loaded {table_name} into SQLite database.")
    else:
        print(f"File {filepath} does not exist. Skipping {table_name}.")

# Close the database connection
#cnn.close()

print("All tables have been loaded into the SQLite database.")

Loaded Aircrafts into SQLite database.
Loaded AirFare into SQLite database.
Loaded Branches into SQLite database.
Loaded Charges into SQLite database.
Loaded Contact_Details into SQLite database.
Loaded Countries into SQLite database.
Loaded Discounts into SQLite database.
Loaded Employee into SQLite database.
Loaded Flight_Schedule into SQLite database.
Loaded Passengers into SQLite database.
Loaded Route into SQLite database.
Loaded State into SQLite database.
Loaded Transactions into SQLite database.
All tables have been loaded into the SQLite database.

In [11]:
%%sql
select * from Aircrafts;

 * sqlite:///airlines.db
Done.

[('AC001', 150, 'Boeing', '2009-03-01'),
 ('AC002', 200, 'Boeing', '2005-05-16'),
 ('AC003', 150, 'Boeing', '2001-03-03'),
 ('AC004', 150, 'Embraer', '2001-02-25'),
 ('AC005', 300, 'Embraer', '2011-05-07'),
 ('AC006', 300, 'Embraer', '2003-09-01'),
 ('AC007', 150, 'Boeing', '2001-12-23'),
 ('AC008', 300, 'Airbus', '2006-02-11'),
 ('AC009', 250, 'Embraer', '2017-10-11'),
 ('AC010', 150, 'Airbus', '2010-03-23'),
 ('AC011', 150, 'Embraer', '2007-01-08'),
 ('AC012', 200, 'Embraer', '2014-09-04'),
 ('AC013', 200, 'Embraer', '2000-12-25'),
 ('AC014', 200, 'Embraer', '2000-04-02'),
 ('AC015', 300, 'Airbus', '2002-10-31'),
 ('AC016', 200, 'Airbus', '2005-06-14'),
 ('AC017', 250, 'Embraer', '2019-05-22'),
 ('AC018', 150, 'Airbus', '2007-09-27'),
 ('AC019', 250, 'Embraer', '2018-07-04'),
 ('AC020', 200, 'Boeing', '2005-10-13'),
 ('AC021', 200, 'Airbus', '2019-09-13'),
 ('AC022', 250, 'Airbus', '2003-01-23'),
 ('AC023', 150, 'Boeing', '2002-05-02'),
 ('AC024', 200, 'Airbus', '2015-08-17'),
 ('AC025', 150, 'Airbus', '2016-07-13'),
 ('AC026', 250, 'Embraer', '2016-12-09'),
 ('AC027', 150, 'Embraer', '2014-06-02'),
 ('AC028', 200, 'Airbus', '2003-10-08'),
 ('AC029', 150, 'Embraer', '2006-10-21'),
 ('AC030', 300, 'Airbus', '2019-09-07'),
 ('AC031', 150, 'Airbus', '2001-10-10'),
 ('AC032', 300, 'Airbus', '2006-09-27'),
 ('AC033', 250, 'Airbus', '2003-05-24'),
 ('AC034', 300, 'Boeing', '2007-12-06'),
 ('AC035', 250, 'Boeing', '2009-02-11'),
 ('AC036', 200, 'Airbus', '2015-04-20'),
 ('AC037', 150, 'Embraer', '2010-05-12'),
 ('AC038', 300, 'Boeing', '2001-02-16'),
 ('AC039', 300, 'Boeing', '2010-04-22'),
 ('AC040', 300, 'Airbus', '2008-11-05'),
 ('AC041', 300, 'Airbus', '2002-01-10'),
 ('AC042', 250, 'Airbus', '2012-03-26'),
 ('AC043', 150, 'Boeing', '2011-08-23'),
 ('AC044', 250, 'Boeing', '2013-05-30'),
 ('AC045', 150, 'Embraer', '2016-06-20'),
 ('AC046', 200, 'Airbus', '2017-07-04'),
 ('AC047', 150, 'Airbus', '2008-04-15'),
 ('AC048', 200, 'Airbus', '2010-07-31'),
 ('AC049', 150, 'Boeing', '2018-10-05'),
 ('AC050', 250, 'Boeing', '2018-10-30')]

In [12]:
%%sql
delete from Aircrafts where AcNumber='AC0051';

 * sqlite:///airlines.db
0 rows affected.

[]

In [13]:
%%sql
SELECT FlID,FlightDate,Departure,Arrival,Aircraft, Airport, Destination FROM Flight_Schedule f inner join AirFare a on f.NetFare=a.AfID inner join Route r on a.Route=r.RtID

 * sqlite:///airlines.db
Done.

[(1, '2024-05-25 00:00:00', '2024-06-02 00:00:00', '2024-08-07 00:00:00', 'AC043', 'Airport3', 'Destination3'),
 (2, '2024-10-31 00:00:00', '2024-12-30 00:00:00', '2024-06-28 00:00:00', 'AC025', 'Airport3', 'Destination3'),
 (3, '2024-03-26 00:00:00', '2024-07-09 00:00:00', '2024-06-18 00:00:00', 'AC036', 'Airport23', 'Destination23'),
 (4, '2024-12-18 00:00:00', '2024-08-22 00:00:00', '2024-11-22 00:00:00', 'AC004', 'Airport43', 'Destination43'),
 (5, '2024-08-10 00:00:00', '2024-09-06 00:00:00', '2024-10-09 00:00:00', 'AC016', 'Airport2', 'Destination2'),
 (6, '2024-05-26 00:00:00', '2024-02-11 00:00:00', '2024-02-10 00:00:00', 'AC026', 'Airport11', 'Destination11'),
 (7, '2024-01-29 00:00:00', '2024-10-15 00:00:00', '2024-10-23 00:00:00', 'AC035', 'Airport7', 'Destination7'),
 (8, '2024-12-14 00:00:00', '2024-12-20 00:00:00', '2024-04-29 00:00:00', 'AC004', 'Airport16', 'Destination16'),
 (9, '2024-08-21 00:00:00', '2024-11-26 00:00:00', '2024-05-17 00:00:00', 'AC015', 'Airport10', 'Destination10'),
 (10, '2024-04-22 00:00:00', '2024-03-25 00:00:00', '2024-05-26 00:00:00', 'AC044', 'Airport40', 'Destination40'),
 (11, '2024-03-19 00:00:00', '2024-05-18 00:00:00', '2024-10-20 00:00:00', 'AC006', 'Airport26', 'Destination26'),
 (12, '2024-03-14 00:00:00', '2024-09-16 00:00:00', '2024-01-09 00:00:00', 'AC046', 'Airport5', 'Destination5'),
 (13, '2024-03-16 00:00:00', '2024-01-26 00:00:00', '2024-09-03 00:00:00', 'AC003', 'Airport43', 'Destination43'),
 (14, '2024-12-01 00:00:00', '2024-08-19 00:00:00', '2024-07-04 00:00:00', 'AC006', 'Airport35', 'Destination35'),
 (15, '2024-11-23 00:00:00', '2024-08-27 00:00:00', '2024-10-28 00:00:00', 'AC018', 'Airport41', 'Destination41'),
 (16, '2024-09-05 00:00:00', '2024-01-11 00:00:00', '2024-06-25 00:00:00', 'AC042', 'Airport35', 'Destination35'),
 (17, '2024-10-20 00:00:00', '2024-11-12 00:00:00', '2024-08-23 00:00:00', 'AC039', 'Airport24', 'Destination24'),
 (18, '2024-11-15 00:00:00', '2024-02-11 00:00:00', '2024-01-05 00:00:00', 'AC019', 'Airport31', 'Destination31'),
 (19, '2024-01-16 00:00:00', '2024-04-15 00:00:00', '2024-05-05 00:00:00', 'AC050', 'Airport15', 'Destination15'),
 (20, '2024-09-01 00:00:00', '2024-09-07 00:00:00', '2024-11-07 00:00:00', 'AC038', 'Airport35', 'Destination35'),
 (21, '2024-05-05 00:00:00', '2024-08-12 00:00:00', '2024-07-22 00:00:00', 'AC034', 'Airport17', 'Destination17'),
 (22, '2024-08-05 00:00:00', '2024-01-14 00:00:00', '2024-10-15 00:00:00', 'AC030', 'Airport32', 'Destination32'),
 (23, '2024-06-05 00:00:00', '2024-02-16 00:00:00', '2024-02-13 00:00:00', 'AC031', 'Airport42', 'Destination42'),
 (24, '2024-08-28 00:00:00', '2024-05-15 00:00:00', '2024-12-31 00:00:00', 'AC026', 'Airport1', 'Destination1'),
 (25, '2024-03-03 00:00:00', '2024-12-15 00:00:00', '2024-07-25 00:00:00', 'AC037', 'Airport22', 'Destination22'),
 (26, '2024-11-23 00:00:00', '2024-07-09 00:00:00', '2024-09-01 00:00:00', 'AC041', 'Airport39', 'Destination39'),
 (27, '2024-01-29 00:00:00', '2024-02-21 00:00:00', '2024-06-18 00:00:00', 'AC031', 'Airport20', 'Destination20'),
 (28, '2024-10-31 00:00:00', '2024-04-29 00:00:00', '2024-04-17 00:00:00', 'AC011', 'Airport37', 'Destination37'),
 (29, '2024-07-26 00:00:00', '2024-05-02 00:00:00', '2024-07-26 00:00:00', 'AC009', 'Airport23', 'Destination23'),
 (30, '2024-11-05 00:00:00', '2024-05-03 00:00:00', '2024-06-06 00:00:00', 'AC049', 'Airport18', 'Destination18'),
 (31, '2024-02-22 00:00:00', '2024-12-29 00:00:00', '2024-12-07 00:00:00', 'AC018', 'Airport21', 'Destination21'),
 (32, '2024-02-04 00:00:00', '2024-05-19 00:00:00', '2024-12-17 00:00:00', 'AC040', 'Airport1', 'Destination1'),
 (33, '2024-08-18 00:00:00', '2024-08-19 00:00:00', '2024-02-08 00:00:00', 'AC011', 'Airport9', 'Destination9'),
 (34, '2024-08-26 00:00:00', '2024-10-05 00:00:00', '2024-07-27 00:00:00', 'AC031', 'Airport30', 'Destination30'),
 (35, '2024-06-11 00:00:00', '2024-04-28 00:00:00', '2024-06-19 00:00:00', 'AC025', 'Airport25', 'Destination25'),
 (36, '2024-10-30 00:00:00', '2024-03-28 00:00:00', '2024-04-20 00:00:00', 'AC031', 'Airport3', 'Destination3'),
 (37, '2024-09-15 00:00:00', '2024-04-04 00:00:00', '2024-04-18 00:00:00', 'AC003', 'Airport43', 'Destination43'),
 (38, '2024-03-11 00:00:00', '2024-01-01 00:00:00', '2024-08-01 00:00:00', 'AC005', 'Airport40', 'Destination40'),
 (39, '2024-07-14 00:00:00', '2024-03-02 00:00:00', '2024-12-08 00:00:00', 'AC015', 'Airport17', 'Destination17'),
 (40, '2024-11-28 00:00:00', '2024-08-11 00:00:00', '2024-12-31 00:00:00', 'AC037', 'Airport2', 'Destination2'),
 (41, '2024-04-04 00:00:00', '2024-05-03 00:00:00', '2024-10-25 00:00:00', 'AC050', 'Airport24', 'Destination24'),
 (42, '2024-06-15 00:00:00', '2024-06-15 00:00:00', '2024-02-23 00:00:00', 'AC001', 'Airport47', 'Destination47'),
 (43, '2024-12-11 00:00:00', '2024-12-02 00:00:00', '2024-07-02 00:00:00', 'AC039', 'Airport23', 'Destination23'),
 (44, '2024-09-17 00:00:00', '2024-03-09 00:00:00', '2024-12-20 00:00:00', 'AC014', 'Airport34', 'Destination34'),
 (45, '2024-10-11 00:00:00', '2024-08-26 00:00:00', '2024-08-05 00:00:00', 'AC048', 'Airport41', 'Destination41'),
 (46, '2024-02-06 00:00:00', '2024-05-22 00:00:00', '2024-01-09 00:00:00', 'AC040', 'Airport20', 'Destination20'),
 (47, '2024-08-01 00:00:00', '2024-09-09 00:00:00', '2024-01-27 00:00:00', 'AC012', 'Airport31', 'Destination31'),
 (48, '2024-08-16 00:00:00', '2024-08-13 00:00:00', '2024-11-06 00:00:00', 'AC025', 'Airport15', 'Destination15'),
 (49, '2024-08-04 00:00:00', '2024-10-16 00:00:00', '2024-10-31 00:00:00', 'AC026', 'Airport8', 'Destination8'),
 (50, '2024-12-16 00:00:00', '2024-06-29 00:00:00', '2024-06-04 00:00:00', 'AC043', 'Airport8', 'Destination8')]

In [15]:
%%sql
select * from transactions;

 * sqlite:///airlines.db
Done.

[(1, '2024-11-01 00:00:00', '2024-05-21 00:00:00', 28, 28, 1, 60, 33, 29),
 (2, '2024-11-19 00:00:00', '2024-07-08 00:00:00', 17, 28, 1, 3, 29, 28),
 (3, '2024-04-14 00:00:00', '2024-03-19 00:00:00', 94, 27, 0, 77, 45, 16),
 (4, '2024-03-15 00:00:00', '2024-04-26 00:00:00', 23, 26, 1, 1, 11, 36),
 (5, '2024-11-05 00:00:00', '2024-11-10 00:00:00', 46, 19, 1, 93, 8, 29),
 (6, '2024-08-06 00:00:00', '2024-02-05 00:00:00', 57, 10, 1, 65, 8, 50),
 (7, '2024-03-19 00:00:00', '2024-06-15 00:00:00', 5, 9, 1, 73, 39, 33),
 (8, '2024-01-03 00:00:00', '2024-08-18 00:00:00', 83, 38, 1, 79, 43, 38),
 (9, '2024-09-20 00:00:00', '2024-06-09 00:00:00', 16, 39, 1, 9, 19, 19),
 (10, '2024-04-23 00:00:00', '2024-10-19 00:00:00', 78, 36, 1, 38, 32, 47),
 (11, '2024-11-03 00:00:00', '2024-07-06 00:00:00', 11, 11, 1, 7, 4, 36),
 (12, '2024-02-22 00:00:00', '2024-06-07 00:00:00', 83, 29, 1, 1, 25, 36),
 (13, '2024-04-30 00:00:00', '2024-02-14 00:00:00', 86, 10, 0, 56, 40, 32),
 (14, '2024-05-10 00:00:00', '2024-06-06 00:00:00', 74, 37, 1, 19, 32, 8),
 (15, '2024-07-03 00:00:00', '2024-06-05 00:00:00', 70, 38, 1, 44, 46, 46),
 (16, '2024-05-17 00:00:00', '2024-12-02 00:00:00', 28, 1, 1, 25, 17, 35),
 (17, '2024-10-12 00:00:00', '2024-08-05 00:00:00', 38, 49, 1, 71, 10, 47),
 (18, '2024-11-28 00:00:00', '2024-02-18 00:00:00', 18, 32, 1, 11, 34, 42),
 (19, '2024-02-10 00:00:00', '2024-12-14 00:00:00', 94, 22, 1, 35, 7, 44),
 (20, '2024-05-05 00:00:00', '2024-09-13 00:00:00', 82, 1, 0, 87, 1, 48),
 (21, '2024-10-09 00:00:00', '2024-10-09 00:00:00', 25, 35, 0, 100, 24, 32),
 (22, '2024-06-17 00:00:00', '2024-05-13 00:00:00', 63, 42, 0, 70, 31, 15),
 (23, '2024-03-09 00:00:00', '2024-12-01 00:00:00', 63, 7, 0, 16, 31, 12),
 (24, '2024-10-12 00:00:00', '2024-07-07 00:00:00', 17, 38, 0, 23, 19, 50),
 (25, '2024-02-22 00:00:00', '2024-03-11 00:00:00', 61, 46, 1, 19, 4, 7),
 (26, '2024-06-23 00:00:00', '2024-06-06 00:00:00', 21, 40, 1, 74, 41, 8),
 (27, '2024-04-22 00:00:00', '2024-12-19 00:00:00', 40, 24, 0, 60, 39, 15),
 (28, '2024-04-05 00:00:00', '2024-01-10 00:00:00', 59, 46, 1, 47, 2, 36),
 (29, '2024-05-11 00:00:00', '2024-12-20 00:00:00', 43, 6, 1, 98, 49, 26),
 (30, '2024-09-23 00:00:00', '2024-11-10 00:00:00', 3, 42, 1, 46, 16, 36),
 (31, '2024-12-23 00:00:00', '2024-12-09 00:00:00', 4, 18, 1, 17, 28, 38),
 (32, '2024-06-04 00:00:00', '2024-05-19 00:00:00', 69, 26, 0, 88, 41, 39),
 (33, '2024-09-10 00:00:00', '2024-10-03 00:00:00', 74, 17, 0, 72, 20, 13),
 (34, '2024-02-06 00:00:00', '2024-04-10 00:00:00', 97, 7, 0, 68, 46, 35),
 (35, '2024-07-18 00:00:00', '2024-06-14 00:00:00', 6, 36, 0, 96, 7, 34),
 (36, '2024-04-21 00:00:00', '2024-11-11 00:00:00', 52, 7, 0, 79, 20, 32),
 (37, '2024-07-30 00:00:00', '2024-11-11 00:00:00', 38, 1, 0, 80, 38, 19),
 (38, '2024-03-30 00:00:00', '2024-06-16 00:00:00', 23, 15, 0, 6, 36, 27),
 (39, '2024-11-12 00:00:00', '2024-12-30 00:00:00', 80, 14, 1, 36, 21, 1),
 (40, '2024-03-28 00:00:00', '2024-01-30 00:00:00', 44, 27, 1, 18, 43, 2),
 (41, '2024-07-14 00:00:00', '2024-06-13 00:00:00', 39, 5, 1, 89, 42, 28),
 (42, '2024-06-05 00:00:00', '2024-10-04 00:00:00', 97, 20, 0, 15, 26, 17),
 (43, '2024-09-27 00:00:00', '2024-07-18 00:00:00', 4, 49, 1, 55, 38, 38),
 (44, '2024-02-20 00:00:00', '2024-05-26 00:00:00', 92, 44, 0, 7, 2, 5),
 (45, '2024-03-21 00:00:00', '2024-12-16 00:00:00', 79, 31, 0, 21, 14, 33),
 (46, '2024-01-08 00:00:00', '2024-12-04 00:00:00', 10, 30, 1, 78, 24, 43),
 (47, '2024-01-10 00:00:00', '2024-01-02 00:00:00', 69, 30, 1, 10, 35, 38),
 (48, '2024-06-30 00:00:00', '2024-03-23 00:00:00', 8, 34, 0, 34, 48, 41),
 (49, '2024-01-23 00:00:00', '2024-01-05 00:00:00', 44, 47, 1, 100, 7, 36),
 (50, '2024-10-03 00:00:00', '2024-08-07 00:00:00', 60, 25, 1, 25, 35, 35),
 (51, '2024-12-20 00:00:00', '2024-01-21 00:00:00', 16, 3, 0, 17, 12, 48),
 (52, '2024-01-25 00:00:00', '2024-12-23 00:00:00', 96, 27, 0, 86, 22, 23),
 (53, '2024-02-09 00:00:00', '2024-04-22 00:00:00', 15, 42, 0, 37, 25, 4),
 (54, '2024-02-08 00:00:00', '2024-09-09 00:00:00', 99, 30, 0, 45, 9, 17),
 (55, '2024-04-15 00:00:00', '2024-10-10 00:00:00', 19, 10, 0, 4, 48, 44),
 (56, '2024-02-10 00:00:00', '2024-05-29 00:00:00', 74, 43, 1, 26, 18, 28),
 (57, '2024-10-29 00:00:00', '2024-11-18 00:00:00', 54, 35, 0, 2, 20, 31),
 (58, '2024-06-11 00:00:00', '2024-09-18 00:00:00', 60, 21, 1, 68, 10, 3),
 (59, '2024-12-03 00:00:00', '2024-08-20 00:00:00', 12, 4, 0, 58, 7, 20),
 (60, '2024-01-30 00:00:00', '2024-10-21 00:00:00', 45, 30, 1, 38, 2, 33),
 (61, '2024-01-09 00:00:00', '2024-06-15 00:00:00', 29, 22, 1, 87, 45, 19),
 (62, '2024-08-11 00:00:00', '2024-09-14 00:00:00', 34, 44, 1, 98, 28, 16),
 (63, '2024-02-07 00:00:00', '2024-08-28 00:00:00', 98, 17, 1, 81, 9, 41),
 (64, '2024-09-13 00:00:00', '2024-02-21 00:00:00', 24, 17, 0, 71, 36, 45),
 (65, '2024-05-29 00:00:00', '2024-10-29 00:00:00', 69, 9, 0, 93, 47, 18),
 (66, '2024-08-31 00:00:00', '2024-12-06 00:00:00', 85, 36, 1, 39, 29, 29),
 (67, '2024-05-24 00:00:00', '2024-11-29 00:00:00', 84, 42, 1, 12, 10, 38),
 (68, '2024-04-21 00:00:00', '2024-07-27 00:00:00', 57, 32, 1, 40, 33, 30),
 (69, '2024-12-29 00:00:00', '2024-02-21 00:00:00', 21, 46, 0, 51, 45, 40),
 (70, '2024-03-23 00:00:00', '2024-01-14 00:00:00', 65, 21, 0, 91, 21, 2),
 (71, '2024-01-17 00:00:00', '2024-04-10 00:00:00', 52, 32, 0, 10, 45, 9),
 (72, '2024-05-20 00:00:00', '2024-07-21 00:00:00', 37, 6, 0, 50, 30, 36),
 (73, '2024-05-15 00:00:00', '2024-05-28 00:00:00', 94, 4, 0, 48, 9, 13),
 (74, '2024-01-01 00:00:00', '2024-12-18 00:00:00', 90, 12, 0, 73, 36, 30),
 (75, '2024-04-11 00:00:00', '2024-04-20 00:00:00', 21, 13, 0, 78, 35, 25),
 (76, '2024-11-06 00:00:00', '2024-02-24 00:00:00', 91, 16, 1, 53, 49, 15),
 (77, '2024-12-24 00:00:00', '2024-05-22 00:00:00', 53, 6, 0, 77, 40, 18),
 (78, '2024-12-26 00:00:00', '2024-03-26 00:00:00', 45, 5, 1, 63, 38, 14),
 (79, '2024-07-11 00:00:00', '2024-04-22 00:00:00', 21, 32, 1, 34, 45, 35),
 (80, '2024-02-21 00:00:00', '2024-12-18 00:00:00', 56, 38, 0, 94, 18, 12),
 (81, '2024-04-26 00:00:00', '2024-08-16 00:00:00', 56, 3, 1, 22, 22, 22),
 (82, '2024-06-25 00:00:00', '2024-03-31 00:00:00', 34, 35, 0, 72, 49, 43),
 (83, '2024-02-11 00:00:00', '2024-12-29 00:00:00', 90, 1, 1, 37, 20, 32),
 (84, '2024-06-18 00:00:00', '2024-11-12 00:00:00', 30, 20, 1, 83, 37, 16),
 (85, '2024-03-20 00:00:00', '2024-01-06 00:00:00', 74, 5, 0, 39, 3, 29),
 (86, '2024-02-28 00:00:00', '2024-03-17 00:00:00', 1, 33, 0, 80, 32, 31),
 (87, '2024-02-18 00:00:00', '2024-10-29 00:00:00', 11, 29, 0, 3, 35, 47),
 (88, '2024-05-10 00:00:00', '2024-07-30 00:00:00', 81, 37, 1, 13, 32, 22),
 (89, '2024-07-20 00:00:00', '2024-07-28 00:00:00', 93, 10, 1, 93, 14, 8),
 (90, '2024-06-22 00:00:00', '2024-09-13 00:00:00', 29, 28, 0, 19, 33, 39),
 (91, '2024-01-28 00:00:00', '2024-04-10 00:00:00', 64, 45, 1, 87, 16, 49),
 (92, '2024-06-09 00:00:00', '2024-03-10 00:00:00', 2, 35, 0, 55, 27, 21),
 (93, '2024-07-24 00:00:00', '2024-12-28 00:00:00', 57, 20, 0, 2, 22, 5),
 (94, '2024-05-15 00:00:00', '2024-05-14 00:00:00', 21, 14, 0, 53, 34, 28),
 (95, '2024-06-06 00:00:00', '2024-09-22 00:00:00', 43, 2, 1, 93, 23, 28),
 (96, '2024-12-28 00:00:00', '2024-03-30 00:00:00', 100, 25, 0, 16, 48, 7),
 (97, '2024-09-26 00:00:00', '2024-07-19 00:00:00', 36, 34, 0, 80, 42, 34),
 (98, '2024-02-13 00:00:00', '2024-08-01 00:00:00', 47, 33, 1, 96, 20, 19),
 (99, '2024-04-24 00:00:00', '2024-03-03 00:00:00', 42, 23, 1, 45, 24, 22),
 (100, '2024-05-29 00:00:00', '2024-02-21 00:00:00', 88, 4, 0, 49, 33, 13),
 (101, '2024-11-30 18:14:29', '2024-11-30 18:14:29', 20, 5, 1, 1, 20, 15),
 (102, '2024-11-30 18:16:30', '2024-11-30 18:16:30', 1, 20, 1, 1, 20, 15)]

In [16]:
%%sql
select * from passengers;

 * sqlite:///airlines.db
Done.

[(1, 'Passenger1', 'Address 1', 60, 'Country3', 100),
 (2, 'Passenger2', 'Address 2', 28, 'Country3', 93),
 (3, 'Passenger3', 'Address 3', 43, 'Country3', 99),
 (4, 'Passenger4', 'Address 4', 21, 'Country3', 87),
 (5, 'Passenger5', 'Address 5', 38, 'Country5', 50),
 (6, 'Passenger6', 'Address 6', 57, 'Country4', 90),
 (7, 'Passenger7', 'Address 7', 36, 'Country4', 43),
 (8, 'Passenger8', 'Address 8', 46, 'Country3', 39),
 (9, 'Passenger9', 'Address 9', 51, 'Country3', 77),
 (10, 'amruth', 'Hebbal Dasarahalli, Bangalore', 62, 'Indian', 918867208998),
 (14, 'Passenger14', 'Address 14', 53, 'Country3', 45),
 (15, 'Passenger15', 'Address 15', 20, 'Country5', 51),
 (16, 'Passenger16', 'Address 16', 45, 'Country4', 95),
 (17, 'Passenger17', 'Address 17', 26, 'Country3', 97),
 (18, 'Passenger18', 'Address 18', 32, 'Country5', 23),
 (19, 'Passenger19', 'Address 19', 46, 'Country1', 90),
 (20, 'Passenger20', 'Address 20', 47, 'Country5', 27),
 (21, 'Passenger21', 'Address 21', 51, 'Country3', 87),
 (22, 'Passenger22', 'Address 22', 36, 'Country1', 71),
 (23, 'Passenger23', 'Address 23', 37, 'Country1', 69),
 (24, 'Passenger24', 'Address 24', 60, 'Country5', 28),
 (25, 'Passenger25', 'Address 25', 20, 'Country1', 79),
 (26, 'Passenger26', 'Address 26', 25, 'Country3', 68),
 (27, 'Passenger27', 'Address 27', 58, 'Country5', 64),
 (28, 'Passenger28', 'Address 28', 31, 'Country2', 23),
 (29, 'Passenger29', 'Address 29', 32, 'Country1', 66),
 (30, 'Passenger30', 'Address 30', 34, 'Country3', 38),
 (31, 'Passenger31', 'Address 31', 41, 'Country4', 40),
 (32, 'Passenger32', 'Address 32', 25, 'Country5', 59),
 (33, 'Passenger33', 'Address 33', 41, 'Country3', 49),
 (34, 'Passenger34', 'Address 34', 20, 'Country4', 69),
 (35, 'Passenger35', 'Address 35', 37, 'Country3', 25),
 (36, 'Passenger36', 'Address 36', 41, 'Country1', 39),
 (37, 'Passenger37', 'Address 37', 53, 'Country4', 84),
 (38, 'Passenger38', 'Address 38', 19, 'Country3', 62),
 (39, 'Passenger39', 'Address 39', 59, 'Country4', 70),
 (40, 'Passenger40', 'Address 40', 37, 'Country2', 44),
 (41, 'Passenger41', 'Address 41', 50, 'Country3', 8),
 (42, 'Passenger42', 'Address 42', 59, 'Country5', 5),
 (43, 'Passenger43', 'Address 43', 46, 'Country5', 73),
 (44, 'Passenger44', 'Address 44', 26, 'Country3', 22),
 (45, 'Passenger45', 'Address 45', 19, 'Country1', 11),
 (46, 'Passenger46', 'Address 46', 41, 'Country4', 48),
 (47, 'Passenger47', 'Address 47', 49, 'Country3', 49),
 (48, 'Passenger48', 'Address 48', 53, 'Country1', 7),
 (49, 'Passenger49', 'Address 49', 53, 'Country4', 93),
 (50, 'Passenger50', 'Address 50', 19, 'Country1', 66),
 (51, 'Passenger51', 'Address 51', 58, 'Country5', 6),
 (52, 'Passenger52', 'Address 52', 31, 'Country1', 78),
 (53, 'Passenger53', 'Address 53', 33, 'Country3', 75),
 (54, 'Passenger54', 'Address 54', 55, 'Country3', 72),
 (55, 'Passenger55', 'Address 55', 48, 'Country4', 85),
 (56, 'Passenger56', 'Address 56', 51, 'Country2', 75),
 (57, 'Passenger57', 'Address 57', 32, 'Country3', 41),
 (58, 'Passenger58', 'Address 58', 35, 'Country2', 4),
 (59, 'Passenger59', 'Address 59', 44, 'Country1', 4),
 (60, 'Passenger60', 'Address 60', 23, 'Country3', 97),
 (61, 'Passenger61', 'Address 61', 63, 'Country5', 99),
 (62, 'Passenger62', 'Address 62', 40, 'Country5', 23),
 (63, 'Passenger63', 'Address 63', 49, 'Country3', 78),
 (64, 'Passenger64', 'Address 64', 23, 'Country2', 44),
 (65, 'Passenger65', 'Address 65', 55, 'Country2', 52),
 (66, 'Passenger66', 'Address 66', 56, 'Country5', 11),
 (67, 'Passenger67', 'Address 67', 21, 'Country4', 65),
 (68, 'Passenger68', 'Address 68', 33, 'Country4', 100),
 (69, 'Passenger69', 'Address 69', 22, 'Country1', 69),
 (70, 'Passenger70', 'Address 70', 64, 'Country3', 24),
 (71, 'Passenger71', 'Address 71', 48, 'Country2', 91),
 (72, 'Passenger72', 'Address 72', 62, 'Country1', 93),
 (73, 'Passenger73', 'Address 73', 29, 'Country1', 1),
 (74, 'Passenger74', 'Address 74', 34, 'Country4', 6),
 (75, 'Passenger75', 'Address 75', 19, 'Country5', 61),
 (76, 'Passenger76', 'Address 76', 55, 'Country2', 16),
 (77, 'Passenger77', 'Address 77', 32, 'Country5', 45),
 (78, 'Passenger78', 'Address 78', 47, 'Country2', 68),
 (79, 'Passenger79', 'Address 79', 49, 'Country5', 23),
 (80, 'Passenger80', 'Address 80', 39, 'Country3', 39),
 (81, 'Passenger81', 'Address 81', 63, 'Country3', 29),
 (82, 'Passenger82', 'Address 82', 40, 'Country4', 92),
 (83, 'Passenger83', 'Address 83', 31, 'Country2', 58),
 (84, 'Passenger84', 'Address 84', 61, 'Country4', 71),
 (85, 'Passenger85', 'Address 85', 57, 'Country4', 11),
 (86, 'Passenger86', 'Address 86', 29, 'Country2', 79),
 (87, 'Passenger87', 'Address 87', 35, 'Country5', 89),
 (88, 'Passenger88', 'Address 88', 60, 'Country4', 64),
 (89, 'Passenger89', 'Address 89', 19, 'Country3', 87),
 (90, 'Passenger90', 'Address 90', 22, 'Country5', 59),
 (91, 'Passenger91', 'Address 91', 47, 'Country2', 35),
 (92, 'Passenger92', 'Address 92', 38, 'Country4', 79),
 (93, 'Passenger93', 'Address 93', 48, 'Country2', 78),
 (94, 'Passenger94', 'Address 94', 25, 'Country4', 80),
 (95, 'Passenger95', 'Address 95', 26, 'Country3', 3),
 (96, 'Passenger96', 'Address 96', 45, 'Country1', 72),
 (97, 'Passenger97', 'Address 97', 34, 'Country1', 96),
 (98, 'Passenger98', 'Address 98', 43, 'Country3', 70),
 (99, 'Passenger99', 'Address 99', 54, 'Country1', 72),
 (100, 'Passenger100', 'Address 100', 21, 'Country1', 65),
 (101, 'akshath', 'Hebbal, Dasarahalli', 20, 'Indian', 8867208991)]